<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/chose.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Appointment or Online Purchase</title>
    <style>
         body {
            background-color: #e0e0e0; /* ashen background */
            color: black;
            font-family: Arial, sans-serif;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
            margin: 0;
        }

    </style>
</head>
<body>
<h2>Login</h2>
<form method="post" th:action="@{/search}" th:object="${dataForm}">
    <label for="user_name">Username:</label>
    <input type="text" id="user_name" name="userName" value="" required ><br><br>

    <label for="pass">Password:</label>
    <input type="password" id="pass" name="password" value="" required><br><br>
    <button id="LogInBtn" type="submit">Log In</button>



</form>
</body>
</html>
